@layer theme, base;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);

body {
    @apply bg-gray-100;
}

main {
    @apply max-w-4xl mx-auto my-4 p-8 bg-white;
}

p {
    @apply not-last:mb-4;
}

h1 {
    @apply text-3xl font-bold tracking-tight mb-4;
}

h2 {
    @apply text-2xl font-semibold tracking-tight mt-4 mb-3;
}

h3 {
    @apply text-xl font-semibold mt-4 mb-2;
}

h4 {
    @apply text-lg font-semibold mb-2;
}

h5 {
    @apply text-base font-semibold mb-1;
}

table {
    @apply w-full border-collapse text-sm;
}

thead {
    @apply bg-gray-100;
}

tr {
    @apply border-b border-gray-200;
}

th {
    @apply text-left font-semibold px-3 py-2;
}

tbody {
    @apply divide-y;
}

td {
    @apply px-3 py-2 align-middle;
}

blockquote {
    @apply border-l-4 border-gray-200 pl-4 text-lg not-last:mb-4;
}

ul {
   @apply list-disc list-inside ml-4 not-last:mb-4;
}

li p {
    @apply inline; /* Fixes TipTap putting <li> content in a <p> */
}

ol {
   @apply list-decimal list-inside ml-4 not-last:mb-4;
}

pre {
    @apply bg-gray-100 p-4 rounded not-last:mb-4;
}

hr {
    @apply text-gray-200 my-4 last:mb-0;
}

.requirement {
    @apply border border-gray-200 not-last:mb-4;

    h4 {
        @apply bg-gray-100 p-4;
    }

    .description {
        @apply m-4;
    }

    .source {
        @apply before:content-['Source:_'] before:font-semibold m-4;
    }

    .tasks {
        @apply m-4;

        ul {
            @apply list-disc pl-6 space-y-1 not-last:mb-4;
        }

        li {
            @apply leading-relaxed;
        }
    }

    .unknowns {
        h5 {
            @apply hidden;
        }

        ul {
            @apply list-none space-y-2;
        }

        li {
            @apply bg-yellow-200 p-4;
        }
    }
}

.estimate {
    @apply bg-gray-100 p-1 rounded after:content-['h'];
}

.status {
    @apply p-1 rounded;
}

.status-complete {
    @apply bg-green-400 text-white;
}

.status-blocked {
    @apply bg-red-400 text-white;
}

.blocker {
    @apply bg-red-400 text-white p-4 before:content-['Blocked:_'] before:font-semibold mb-4;
}

tfoot th {
    @apply text-right;
}